PORT=5000
MONGO_URI=mongodb://localhost:27017/hoysejuega
JWT_SECRET=tu_clave_secreta

EMAIL_USER=hoysejuega93@gmail.com
EMAIL_PASS=Hoysejuega12.

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000